@use '@finastra/fds-theme' as fds;

body {
    .myadvisor{
        width: 100%;
        height: 328px;;
        border-radius: 4px;
        background-color: var(--fds-surface);;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }


    .myadvisor-content{
        padding: 24px;
        background-color: var(--fds-surface-selected);
        border-bottom: 1px solid;
        border-color: rgb(217, 218, 217);
        height: 100px;
    }

    .myadvisor-title{
        font: var(--fds-headline-5);
        color: var(--fds-on-background);
    }

    .advisor{
        padding-top: 40px;
    }

    .advisor-pp {
        float: left;

    }

    .advisor-info{
        padding-top: 4px;
        padding-left: 70px;
    }

    .advisor-name{
        font: var(--fds-subtitle-3);
    }

    .advisor-email{
        font: var(--fds-body-3);
    }

    .actionbuttons{
        padding-top: 24px;
        padding-left: 4px;

    }

    fds-text-button{
        margin-top: 10px;
        margin-left: 24px;
    }
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
  body {
    @include fds.use-dark-theme();
  }
}
