@use '@finastra/fds-theme' as fds;

body {
    @include fds.use-light-theme();

    .box{
        background-color: var(--fds-secondary-lighter);
        width: 100%;
        height: 30px;
        border-radius: 4px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .box-title{
        padding-left: 70px;
        font: var(--fds-body-2);
        color: var(--fds-primary);
        height: 24px;
        padding-top: 4px;
    }
    
    .box-icon{
        float: left;
        color: var(--fds-primary);
        padding-left: var(--fds-spacing-4);
    }
    
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
  body {
    @include fds.use-dark-theme();
  }
}
