@use '@finastra/fds-theme' as fds;

body {
    @include fds.use-light-theme();
    .Sheet{
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background-color: var(--fds-surface);;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }

    .sheet-item{
        padding: 24px;
    }

    .header-transaction:before{
        padding-right: 4px;
    }

    .title{
        font: var(--fds-headline-5);
        color: var(--fds-on-background);
    }
    
    .layout{
        width: 100%;
        height: 100%;
        padding-top: 24px;
    }

    .transaction-list{
        padding-top: 24px;
    }

    .progress{
        padding: 30%;
    }

    .progress-bar{
        float: left;
    }

    .progress-bar-text{
        font: var(--fds-body-2);
        padding-left: var(--fds-spacing-3);
        padding-top: 10px;
    }

    .progress-bar-icon{
        color: var(--fds-primary);
    }
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
  body {
    @include fds.use-dark-theme();
  }
}
