@use '@finastra/fds-theme' as fds;

body {
    .quick-transfer{
        width: 100%;
        height: 328px;;
        border-radius: 4px;
        background-color: var(--fds-surface);;
        box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }

    .quick-transfer-content{
        padding: 24px;
    }

    .quick-transfer-title{
        font: var(--fds-headline-5);
        color: var(--fds-on-background);
    }

    .sendto{
        padding-top: 36px;
    }

    .amount{
        padding-top: 24px;
    }

    .action-button{
        padding: 24px;
        width: 100%;
        height: 100%;
    }

    .send-button{
        float: right;
        padding-top: 24px;
        padding-bottom: 24px;
    }

}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
  body {
    @include fds.use-dark-theme();
  }
}
