@use '@finastra/fds-theme' as fds;

body {
    @include fds.use-light-theme();
    .icon{
        width: 32px;
        height: 32px;
        background-color: var(--fds-secondary-lighter);
        border-radius: 32px;
        color: var(--fds-primary);
        text-align: center;
        float: left;
    }

    .transaction{
        border-bottom: 1px solid;
        border-color: rgb(217, 218, 217);
    }
    .transaction-item{
        padding: 16px;
    }

    .material-icons{
        font-size: 16px;
        padding: 7px;
    }

    .transaction-name{
        width: 90%;
        height: 100%;
        padding-left: 50px;
    }

    .transaction-title{
        font: var(--fds-subtitle-1);
    }

    .transaction-subtitle{
        font: var(--fds-body-3);
    }

    .transaction-amount{
        float: right;
        padding-top: 4px;
    }
    
}

html,
body {
    &::-webkit-scrollbar {
        display: none;
    }
}

@media (prefers-color-scheme: dark) {
  body {
    @include fds.use-dark-theme();
  }
}
